<form method="POST" action="{{ url_for('edit_user', user_id=user.id) }}">
    <input type="text" name="name" value="{{ user.name }}">
    <input type="email" name="email" value="{{ decrypt(user.email, 'keys/' + user.name + '.prv') }}">
    <input type="text" name="dob" value="{{ decrypt(user.dob, 'keys/' + user.name + '.prv') }}">
    <input type="text" name="gender" value="{{ decrypt(user.gender, 'keys/' + user.name + '.prv') }}">
    <input type="text" name="blood_type" value="{{ decrypt(user.blood_type, 'keys/' + user.name + '.prv') }}">
    <input type="text" name="medical_condition"
        value="{{ decrypt(user.medical_condition, 'keys/' + user.name + '.prv') }}">
    <input type="text" name="medication" value="{{ decrypt(user.medication, 'keys/' + user.name + '.prv') }}">

    <button type="submit">Update User</button>
</form>